
.class-cards-container {
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;

}

.class-cards {
    width: 20%;
}
